@tailwind base;
@tailwind components;
@tailwind utilities;

.kalc-container{
    width: 600px;
    height: 620px;
}

.kalc-screen{
    flex: 5;
    direction: rtl;
}

.kalc-button-container{
    flex: 3;
    display: flex;
    gap: 12px;
    justify-content: space-between;
    align-items: center;
}

.kalc-button{
    width: 100%;
    height: 100%;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}